@font-face { 
	font-family: cz; 
	src: url('../fonts/cz.ttf'); 
	} 
*{
    margin: 0;
    padding: 0;
}
/** HEADER **/
#header-nav {
  background-color: #F0FFFF;
  border-radius: 0;
  border: 0;
}
#logo-img {
  background: url('../images/100x100.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #00008B;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/**END HEADER**/

.main {
	padding: 2%;
	font-size: 100%;
	width: 68.8%;
	float: left;
	left: 12.5%;
	position: relative;
	background-color: #efefef;
    border:solid;
    border-width: thin;
    border-color: darkgrey;
}
.cont{
	width: 100%;
	height: auto;
    position: relative;
}



.pasek{
    left: 0%;
    margin: 0;
    position: relative;
    font-size: 100%;
    height:37px;
    width: 100%;
    background-color: white;
}
.leftmenu{
    left: 0%;
    margin: 0;
    position: relative;
    font-size: 100%;
    height:37px;
    
    background-color: white;
}


#lmenu {
        
	font-size:130%;
    list-style-type:none;
		       
      }

      /* naprawa wysokoĹ›ci elementu - ol */
#lmenu:after {
        content:'';
        display:block;
        clear:both;
      }

      /* wyglÄ…d elementĂłw - li */
#lmenu > li {
        
        padding: .1%;
		width: 12.25%;
        border-style: solid;
        border-width: .5px;
        border-color: #cccccc;
        background-color: #efefef;
      }

#lmenu > li > a {
        
        padding:0;
        text-decoration:none;
        
        color:#000;
    
        
      }
#lmenu > li:hover > a {
        
        padding:0;
        text-decoration:none;
        width: 12%;
        color:darkblue;
               
      }

#menu {
        
	font-size:130%;
    list-style-type:none;
		       
      }

      /* naprawa wysokoĹ›ci elementu - ol */
#menu:after {
        content:'';
        display:block;
        clear:both;
      }

      /* wyglÄ…d elementĂłw - li */
#menu > li {
        float:left;
		width: 14%;
        border-left: solid;
        border-left-width: thin;
        border-left-color: darkgrey;
		
      }
#menu > li:first-child {
   
        border-left: 0;
    background-color: darkblue;
		 
		width: 12.25%;
      }

      /* wyglÄ…d elementĂłw - a */
#menu > li > a {
        display:block;
		
        padding:0;
        text-decoration:none;
        text-align:center;
		height:34px;
        color:#000;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: white;
        box-shadow:0 0 0 1px #FFF inset;
        
      }

      /* wyglÄ…d elementĂłw - a - po najechaniu kursorem myszki na element - li */
#menu > li:hover > a {
      border-bottom-color: #002266;
      }

      /* -------------------- ROZWIJANA CZÄ�ĹšÄ† MENU CSS -------------------- */
      /* wyglÄ…d elementĂłw - li - rodzica kaĹĽdej czÄ™Ĺ›ci rozwijanej menu CSS */
#menu > li {
        position:relative;
    
      }

      /* wyglÄ…d elementĂłw - ul */
#menu > li > ul {
		  width:100%;
        
		  visibility:hidden;
		  transform:scaleY(0);
		  transform-origin:50% 0;
		  transition:250ms;
		  position:absolute;
		  z-index:1;
		  margin:0;
		  padding:0;
		  list-style-type:none;
		  background-color:#FFF;
      }

      /* wyglÄ…d elementĂłw - ul - po najechaniu kursorem myszki na element - li */
#menu > li:hover > ul {
        visibility:visible;
      font-size: 70%;
    transform:scaleY(1);
      }

      /* wyglÄ…d elementĂłw - li */
#menu > li > ul > li {
        
      }

      /* wyglÄ…d pierwszego dziecka elementu typu - li */
#menu > li > ul > li {
        box-shadow:none;
      }

      /* wyglÄ…d elementĂłw - a */
#menu > li > ul > li > a {
        display:block;
        text-decoration:none;
        padding:12px;
        color:#000;
      }

      /* wyglÄ…d elementĂłw - a - po najechaniu kursorem myszki na element - li */
#menu > li > ul > li:hover > a {
        color: #002266; 
        background-color:#F0F0F0;
}
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */