@font-face { 
	font-family: cz; 
	src: url('Palanquin-Regular.ttf'); 
	} 
*{
    margin: 0;
    padding: 0;
}

.main {
	padding: 2%;
	font-size: 100%;
	width: 68.8%;
	float: left;
	left: 12.5%;
	position: absolute;
	background-color: #efefef;
    border:solid;
    border-width: thin;
    border-color: darkgrey;
}
.cont{
	width: 100%;
	height: auto;
    position: relative;
}



html {
		height: 100%;
		font-family: "cz";
		margin: 0;
    padding: 0;
	}
body {
	min-height: 100%;
	height: 100%;
	margin: 0;
     padding: 0;
}

.pasek{
    left: 0%;
    margin: 0;
    position: relative;
    font-size: 100%;
    height:37px;
    width: 100%;
    background-color: white;
}
.leftmenu{
    left: 0%;
    margin: 0;
    position: relative;
    font-size: 100%;
    height:37px;
    
    background-color: white;
}


#lmenu {
        
	font-size:130%;
    list-style-type:none;
		       
      }

      /* naprawa wysokości elementu - ol */
#lmenu:after {
        content:'';
        display:block;
        clear:both;
      }

      /* wygląd elementów - li */
#lmenu > li {
        
        padding: .1%;
		width: 12.25%;
        border-style: solid;
        border-width: .5px;
        border-color: #cccccc;
        background-color: #efefef;
      }

#lmenu > li > a {
        
        padding:0;
        text-decoration:none;
        
        color:#000;
    
        
      }
#lmenu > li:hover > a {
        
        padding:0;
        text-decoration:none;
        width: 12%;
        color:darkblue;
               
      }

#menu {
        
	font-size:130%;
    list-style-type:none;
		       
      }

      /* naprawa wysokości elementu - ol */
#menu:after {
        content:'';
        display:block;
        clear:both;
      }

      /* wygląd elementów - li */
#menu > li {
        float:left;
		width: 14.5%;
        border-left: solid;
        border-left-width: thin;
        border-left-color: darkgrey;
		
      }
#menu > li:first-child {
       
        border-left: 0;
    background-color: darkblue;
		 
		width: 12.5%;
      }

      /* wygląd elementów - a */
#menu > li > a {
        display:block;
		
        padding:0;
        text-decoration:none;
        text-align:center;
		height:34px;
        color:#000;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: white;
        box-shadow:0 0 0 1px #FFF inset;
        
      }

      /* wygląd elementów - a - po najechaniu kursorem myszki na element - li */
#menu > li:hover > a {
      border-bottom-color: #002266;
      }

      /* -------------------- ROZWIJANA CZĘŚĆ MENU CSS -------------------- */
      /* wygląd elementów - li - rodzica każdej części rozwijanej menu CSS */
#menu > li {
        position:relative;
    
      }

      /* wygląd elementów - ul */
#menu > li > ul {
		  width:100%;
        
		  visibility:hidden;
		  transform:scaleY(0);
		  transform-origin:50% 0;
		  transition:250ms;
		  position:absolute;
		  z-index:1;
		  margin:0;
		  padding:0;
		  list-style-type:none;
		  background-color:#FFF;
      }

      /* wygląd elementów - ul - po najechaniu kursorem myszki na element - li */
#menu > li:hover > ul {
        visibility:visible;
      font-size: 70%;
    transform:scaleY(1);
      }

      /* wygląd elementów - li */
#menu > li > ul > li {
        
      }

      /* wygląd pierwszego dziecka elementu typu - li */
#menu > li > ul > li {
        box-shadow:none;
      }

      /* wygląd elementów - a */
#menu > li > ul > li > a {
        display:block;
        text-decoration:none;
        padding:12px;
        color:#000;
      }

      /* wygląd elementów - a - po najechaniu kursorem myszki na element - li */
#menu > li > ul > li:hover > a {
        color: #002266; 
        background-color:#F0F0F0;
}
